<div class="row">
  <div class="span6 offset3">
    <ul class="thumbnails">
      <% @profiles.each do |profile| %>
        <li class="thumbnail"><%= link_to(image_tag(profile.avatar_url, width: 60), profile_path(profile)) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= form_for([@profile, @profile.questions.new], remote: true) do |f| %>
      <%= f.text_area :body, rows: 12, :class => "question body", placeholder: "Hey #{@profile.name}, I'd like to know ..." %>
      <p>
        <%= link_to "<i class='icon-comment icon-white'></i> Ask #{@profile.name}".html_safe, '#', :class => 'btn btn-primary submit question' %>
      </p>
    <% end %>
  </div>
  <div class="span1">
    <%= image_tag(@profile.avatar_url, :class => "thumbnail mugshot" )%>
  </div>
  <div class="span3">
    <%= @profile.description %>
  </div>
</div>
