<div class="row">
  <div class="span8">
    <%= form_for([@profile, @profile.questions.new], remote: true) do |f| %>
      <div>
        <%= f.text_area :body, rows: 20, :class => "question body span8", placeholder: "Hey #{@profile.name}, I'd like to know ..." %>
      </div>
      <p>
        <%= link_to "<i class='icon-comment icon-white'></i> Ask #{@profile.name}".html_safe, '#', :class => 'btn btn-primary submit question' %>
      </p>
    <% end %>
  </div>
  <div class="span4">
    <div class="well">
      <%= image_tag(@profile.avatar_url, :class => "thumbnail mugshot", width: 80 )%>
      <h3><%= @profile.name %></h3>
      <p class="description"><%= @profile.description %></p>
    </div>
  </div>
</div>