
<label class="label"><%= t("activerecord.attributes.home._type", :default => t("activerecord.labels._type", :default => " type")) %>:</label>
<p><%= @home._type %></p>

<label class="label"><%= t("activerecord.attributes.home._id", :default => t("activerecord.labels._id", :default => "")) %>:</label>
<p><%= @home._id %></p>
<div class="actions">
<%= link_to "Back", home_path, :class => 'btn primary'  %>
<%= link_to "Edit", edit_home_path(@home), :class => 'btn primary' %>
<%= link_to "Delete", home_path(@home), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn primary' %>
</div>
